<p>
    <form action="/pokemon/delete" method="POST">
        <button type="submit">Delete all Pokemon!</button>
    </form>
</p>
<p>
    <form action="/trainer/delete" method="POST">
        <button type="submit">Delete all trainers</button>
    </form>
</p>