<div class="flex justify-center items-center">
  <form action="/pokemon/delete" method="POST">
    <button class="btnDelete" type="submit">Delete all Pokemon!</button>
  </form>
  <form action="/trainer/delete" method="POST">
    <button class="btnDelete" type="submit">Delete all trainers!</button>
  </form>
  <form action="/pokemon/addAll" method="POST">
    <button class="btnDelete bg-green-500" type="submit">
      Add all Pokemon!
    </button>
  </form>
</div>
