<div
  class="w-full pt-2 pb-1 fixed bottom-0 left-0 flex justify-center items-center bg-emerald-300"
>
  <a class="flex" href="https://github.com/uwuzumaki/pokemon-inventory"
    ><img class="mx-2 h-auto w-6" src="/logo/github-dark.png" />
    <p class="font-semibold">uwuzumaki</p></a
  >
</div>
