<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/styles/styles.css" rel="stylesheet" />
  <title><%= title %></title>
</head>
<h1 class="text-xl">Pokemon Inventory</h1>
<form action="/" method="POST">
  <label for="pokename"></label>
  <input type="text" name="pokename" id="pokename" />
  <button type="submit">submit!</button>
</form>
<a href="/region"><button type="text">region</button></a>
<a href="/type"><button type="text">type</button></a>
<a href="/trainer"><button type="text">trainer</button></a>
