<a href="/region/<%= gens.one %>"><button>Gen1</button></a>
<a href="/region/<%= gens.two %>"><button>Gen2</button></a>
<a href="/region/<%= gens.three %>"><button>Gen3</button></a>
<a href="/region/?gen=gen4"><button>Gen4</button></a>
<a href="/region/?gen=gen5"><button>Gen5</button></a>
<a href="/region/?gen=gen6"><button>Gen6</button></a>
<a href="/region/?gen=gen7"><button>Gen7</button></a>
<a href="/region/?gen=gen8"><button>Gen8</button></a>
<a href="/region/?gen=gen9"><button>Gen9</button></a>
