<h1 class="prose m-auto p-6 text-4xl text-red-400">Pokemon Inventory</h1>
<form class="p-6" action="/" method="POST">
  <label for="pokename">Search for a Pokemon</label>
  <input
    class="mx-4 border-0 border-b-2 border-solid border-gray-700 outline-none text-xl text-black bg-transparent duration-300 focus:outline-none focus:border-blue-400
    type="text"
    name="pokename"
    id="pokename"
  />
  <button class="btn" type="submit">Submit!</button>
</form>
<div class="container flex justify-evenly items-center">
  <a href="/region"><button type="text">Region</button></a>
  <a href="/type"><button type="text">Type</button></a>
  <a href="/trainer"><button type="text">Trainer</button></a>
</div>
<%- include("./deleteData.ejs") %>
