<h1 class="text-xl">Pokemon Inventory</h1>
<form action="/" method="POST">
  <label for="pokename">Search for a pokemon</label>
  <input type="text" name="pokename" id="pokename" />
  <button type="submit">submit!</button>
</form>
<a href="/region"><button type="text">region</button></a>
<a href="/type"><button type="text">type</button></a>
<a href="/trainer"><button type="text">trainer</button></a>
or
<a href="/create"><button>Create your own!</button></a>
