<% if (type == "success") { %>
<div class="p-1 px-4 mx-2 my-1 rounded border-2 bg-lime-300 border-lime-400">
  <%= message %>
</div>
<% } else if (type== "error") { %>
<div class="p-1 px-4 mx-2 my-1 rounded border-2 bg-red-300 border-red-400">
  <%= message %>
</div>
<% } %>
