<form
  class="flex flex-col justify-center items-center"
  action="/type"
  method="POST"
>
  <div class="flex justify-center items-center m-4">
    <div class="mx-2">
      <label for="type1">Type 1:</label>
      <select class="px-2 rounded-md bg-blue-100" name="type1" id="type1">
        <option value="normal">Normal</option>
        <option value="fighting">Fighting</option>
        <option value="flying">Flying</option>
        <option value="poison">Poison</option>
        <option value="ground">Ground</option>
        <option value="rock">Rock</option>
        <option value="bug">Bug</option>
        <option value="ghost">Ghost</option>
        <option value="steel">Steel</option>
        <option value="fire">Fire</option>
        <option value="water">Water</option>
        <option value="grass">Grass</option>
        <option value="electric">Electric</option>
        <option value="psychic">Psychic</option>
        <option value="ice">Ice</option>
        <option value="dragon">Dragon</option>
        <option value="dark">Dark</option>
        <option value="fairy">Fairy</option>
        <option value="stellar">Stellar</option>
      </select>
    </div>
    <div class="mx-2">
      <label for="type2">Type 2:</label>
      <select class="px-2 rounded-md bg-green-100" name="type2" id="type2">
        <option value="null">None</option>
        <option value="normal">Normal</option>
        <option value="fighting">Fighting</option>
        <option value="flying">Flying</option>
        <option value="poison">Poison</option>
        <option value="ground">Ground</option>
        <option value="rock">Rock</option>
        <option value="bug">Bug</option>
        <option value="ghost">Ghost</option>
        <option value="steel">Steel</option>
        <option value="fire">Fire</option>
        <option value="water">Water</option>
        <option value="grass">Grass</option>
        <option value="electric">Electric</option>
        <option value="psychic">Psychic</option>
        <option value="ice">Ice</option>
        <option value="dragon">Dragon</option>
        <option value="dark">Dark</option>
        <option value="fairy">Fairy</option>
        <option value="stellar">Stellar</option>
      </select>
    </div>
  </div>
  <button class="px-2 py-1 rounded-md bg-indigo-200" type="submit">
    Submit
  </button>
</form>
