<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body class="body prose">
    <div class="main">
      <%- include("./partials/selection.ejs") %>
      <p class="mt-1 text-lg font-medium"></p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
