<!DOCTYPE html>
<html lang="en">
  <body class="min-h-full">
    <%- include("./partials/header.ejs") %>
    <p class="mt-1 text-lg font-medium">
      Enter a Pokemon, select a region, type, or trainer to get started!
    </p>
  </body>
</html>
