<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body class="body prose">
    <div class="main">
      <%- include("./partials/selection.ejs") %>
      <div class="flex flex-col justify-center items-center">
        <div class="m-2 text-lg font-bold">Select a Region!</div>
        <%- include("./partials/regions.ejs") %>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
