<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/selection.ejs") %>
    <br />
    <%= pokemon.pokemon_id %> <%= pokemon.pokemon_name %>
  </body>
</html>
