<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body class="body prose">
    <%- include("./partials/selection.ejs") %>
    <br />
    <% pokemon.forEach((pokemon)=> { %>
         <p><%= pokemon.pokemon_id %> <%= pokemon.pokemon_name %></p>
    <% }) %>
  </body>
</html>
