<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/selection.ejs") %>
    <br />
    <% if(pokemon) { %>
      <%= pokemon.pokemon_id %> <%= pokemon.pokemon_name %>
    <% } else { %>
      <p>No pokemon by that name was found.</p>
    <% } %>
  </body>
</html>
